body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    box-sizing: border-box;
    width: 700;
    height: 300px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
}


p {
    margin: 50px;
    font-weight: 100px;
}

.fixed-size {
    width: 500px; /* Set the width */
    height: 500px; /* Set the height */
    margin: 0 auto; /* Centers the element horizontally */
    position: relative; /* Modify positioning if needed */
    transform: translateY(-50%); /* Optional adjustment */
}
